@font-face{
	font-family: 'Pier';
	src: url('../fonts/pier.otf');
}

*{
	margin:0;
	border: none;
	font-size: 16px;
	font-family: 'Pier';
}

/*NAV MENU*/
nav.navbar{
	background-color: #ffffff;
	border: none;
	/*margin-bottom: 0;*/
}

div#topNav{
	text-align: center;
	margin-top: 2%;
}

div#main-content{
	text-align: center;
	margin-top: 2%;
}

a.homeLink{
	text-decoration: none;
}

#mainMenu.nav.navbar-nav{
	display: inline-block;
	float: none;
	margin: 10px auto 0;
}

#mainMenu.nav.navbar-nav a{
	color: #f55c3d;
	/*color: #252B33;*/
	font-family: "Pier";
	/*font-family: 'Karla', sans-serif;*/
	font-size: 1.1em;
	-webkit-transition: -webkit-transform;
	-moz-transition: -moz-transform;
	transition: transform;
}

#mainMenu.nav.navbar-nav a:hover{ 
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
/*.navbar-default .navbar-nav>li>a{*/
}

.navbar-nav>li>a{
	padding: 0;
	padding-bottom: 10px;
	margin: 15px;
}

.navbar-nav a.active,
.navbar-nav a.active:focus,
.navbar-nav a.active:hover{
	background-color: transparent;
	border-bottom: 2px #404b59 solid;
}


/*FOOTER*/
footer.footer{
	margin-top: 50px;
	background-color: #bfbfbf;
}

/*.footerLinks a + a:before{
	content: "/";
	padding: 0 25px 0 0;
}*/

p.footerLinks{
	margin-bottom: .7em; 
}

.footerLinks>a{
	position: relative;
	font-size: 1.1em;
	display: inline-block;
	margin: 0 8px;
	line-height: 20px;
	padding: 10px 10px 0 10px;
	color:#252B33;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	opacity: 0.75;
}

.footerLinks>a:hover{
	/*color: #f2f2f2;*/
	text-decoration: none;
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	transform: scale(0.93);
	opacity: 1;
}

footer .footerCR{
	font-size: 0.8em;
	font-family: 'Roboto', sans-serif;
}

/*GO TOP button*/
a.go-top{
	position: fixed;
	bottom: 1.5em;
	right: .8em;
	font-size: 4em;
	display: none;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

a.go-top:hover{
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

a.go-top:visited{
	color:#f55c3d;
	text-decoration: none;
}

/*MAIN CONTENT*/
body .container{
	padding-right: 10%;
	padding-left: 10%;
}

section.row{
	left: auto;
}

h1#nameTitle{
	font-family: "Pier";
	font-size: 3.5em;
	letter-spacing: 7px;
	margin-top: 20px;
	margin-bottom: 0;
	color: #333;
}

#jobTitle{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

a{
	color: #f55c3d;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color:#c2290a;
}

p{
	margin-bottom: 1.5em;
}

blockquote{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color:#174785;
	border-left: none;
	font-size: 1.5em;
	width: 85%;
	margin: 1em auto;
	quotes: "\201C""\201D";
}

blockquote::before{
	color: #ccc;
	content: open-quote;
	font-size: 2.5em;
	line-height: 0.1em;
	margin-right: 0.5em;
	vertical-align: -0.3em;
}

blockquote::after{
	color: #ccc;
	content: close-quote;
	font-size: 2.5em;
	line-height: 0.1em;
	margin-left: 0.5em;
	vertical-align: -0.3em;
}

ul{
	padding: 0;
}

li{
	font-family: 'Roboto', sans-serif;
}


.divider{
	width: 4px;
	height: auto;
	display: inline-block;
}

/*ABOUT*/
#aboutContent div{
	position: relative;
	padding-right: 0;
}

#aboutContent img{
	display: inline-block;
	width: 80%;
	margin: 0, auto;
}

img#profileImg{
	margin-top: 20px;
}

div#mainBlurb{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	display: inline-block;
	max-width: 400px;
	margin-top:20px;
	padding-left:0;
}

div#mainBlurb>p{
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Karla', sans-serif;*/
	font-size: 1em;
}

div#mainBlurb p:nth-child(2){
	margin-top:25px;
}

div#mainBlurb p#skillsBlurb{
	display: inline-block;
	margin-top: 40px;
	font-size: 0.9em;
	font-weight: normal;
}

div#mainBlurb p#resume{
	font-size: 0.9em;
}

div#mainBlurb p#resume a{
	font-size: 1.05em;
}

/*PORTFOLIO*/
.projectBanner{
	min-height: 300px;
	color: #fff;
	margin-top: .5em;
}

.projectBanner img{
	display: inline;
	margin-bottom: 20px;
	margin-left: 1em;
}

#characters img{
	width: 180px;
	height: auto;
}

.projectBanner p{
	margin: 50px 0 75px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 1.1px;
	font-size: 1.2em;
}

h2.projectName{
	margin: 50px 0 20px 0;
	font-size: 2em;
}

#snapguide{
	/*background-color: rgba(212, 133, 61, .9);*/
	background-color: rgba(0, 0, 0, .38)
	/*border-top: 2px solid black;
	border-bottom: 2px solid black;*/
}

#characters{
	background-color: rgba(108, 190, 228, 1);

}

.button{
	display: inline-block;
	border: 3px solid #fff;
	padding: 1em 1.75em;
	margin-bottom: 20px;
	background: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1.1px;
	transition: .6s;
}

.button:hover{
	background-color: #fff;
	color:#252B33;
	transition: .6s;
}


/*Portfolio - introBanner Section*/
div#introBanner.container{
	padding: 0;
	margin:0;
	width: 100%;
	background-color: #949c9e;
}

#introBanner section{
	display: block;
	width: 80%;
	text-align: center;
	margin: auto;
}

#introBanner h2.projectTitle{
	font-family: "Pier";
	font-size: 4em;
	margin-bottom: 0;
	margin-top: .8em;
	color: #ffffff;
}

#introBanner p.projectTagline{
	margin-bottom: 2em;
	color: #2b323b;
	font-style: italic;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
}

#introBanner p:last-child{
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #F3F5F6;
	width: 80%;
	margin: auto;
	margin-bottom: 1.7em;
}

/*portfolio main section - SnapGuide*/
h3.projHeading{
	font-family: 'Karla', sans-serif;
	font-size: 2em;
	color: #2B323B;
	margin-top: 2em;
	margin-bottom: 1em;
}

#portfolioContent p{
	display: inline-block;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	max-width: 750px;
	line-height: 200%;
}

#portfolioContent div#intro p{
	font-style: italic;
}

section#userQuotes{
	margin-bottom: 3em;
}

#portfolioContent h4{
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
	margin-bottom: 20px;
}

#intro img{
	display: inline;
	width: 300px;
	height: auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

#intro p#projDescription{
	line-height: 130%;
}
}

section#keyFindings{
	margin-top: 2em;
	margin-bottom: 2em;
}

#keyFindings li{
	display: inline-block;
	text-align: left;
	width: 65%;
	margin-bottom: 1.5em;
}

#keyFindings li:last-child{
	margin-bottom: 0;
}

img#storyboard{
	margin: 2em 0;
}

div.MVPstage h4{
	margin-top: 2em;
}

div.MVPstage p{
	width: 80%;
	margin-bottom: 1em;
}

img#features{
	display: block;
	margin: auto;
}

img#screenflow{
	width: 80%;
	height: auto;
	display: inline-block;
	margin-top: 2em;
	margin: 0, auto;
	opacity: .75;
}

div#paperTestFindings h4{
	margin-top: 2.5em;
}

div#paperTestFindings p{
	width:65%;
}

section#prototypeChanges{
	margin-top: 2em;
	margin-bottom: 2em;
}

#prototypeChanges li{
	display: inline-block;
	text-align: left;
	width: 65%;
	margin-bottom: 1.5em;
}

#prototypeChanges li:nth-child(even){
	color: #174785;
	margin-top: -15px;
}


img#homescreen, img#itemDetail, img#navigation, img#search, img#guides, img#newPost{
	display: block;
	margin: auto;
}

img#newPost{
	margin-bottom: 2em;
}

hr{
	border-top: 1px solid #e6e6e6;
	width: 70%;
	margin: auto;
	margin-top: 1.5em;
}

h4.screenTitle{
	margin-top: 2em;
}

p#prototypeText{
	display:block;
	text-align: center;
}

/*portolio - characters*/
#characterImages>img{
	/*display: inline;*/
	width: 350px;
	height: auto;
	margin: 2em auto;
}


/*GALLERY IMAGES*/

p#galleryBlurb{
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

section#galleryTiles{
	margin-top: 25px;
}

div.imgTile{
	/*border: 1px solid #000000;*/
	margin-bottom: 20px;
	overflow: hidden;
	/*margin-right: auto;*/
	/*left: auto;*/
	/*right: auto;*/
}

.img-thumbnail{
	border: none;
}

.imgTile figcaption{
	font-family: "Pier";
}


/*RESPONSIVE VIEWS*/
@media (max-width: 992px){
	div.imgTile{
		margin-left: 5.5%;
	}
	#profileImg{
		margin-top: 30px;
	}
	div#mainBlurb{
		margin-top: 10px;
	}
	a.go-top{
		bottom: 1.75em;
		right: 1em;
		font-size: 3em;
	}
}

@media (max-width: 767px){
	body .container{
		padding-right: 30px;
		padding-left: 30px;
	}


	#portfolioContent h3.projHeading{
		margin-top: 1.25em;
	}

	#portfolioContent p{
		margin: 0 8%;
		margin-bottom: 20px;
	}

	div.imgTile{
		width: 90%;
		/*left: auto;*/
		/*right: auto;*/
	}

	div#mainBlurb{
		max-width: 300px;
		margin-right: 5%;
	}
	.navbar-nav>li>a{
		padding-bottom: 7px;
	}
	.navbar-nav #menuHome a.active, 
	.navbar-nav #menuHome a.active:focus, 
	.navbar-nav #menuHome a.active:hover{
		background-color: transparent;
		border-bottom: 2px #404b59 solid;
		width: 50%;
		margin: 15px auto;
	}
	.navbar-nav #menuGallery a.active, 
	.navbar-nav #menuGallery a.active:focus, 
	.navbar-nav #menuGallery a.active:hover{
		background-color: transparent;
		border-bottom: 2px #404b59 solid;
		width: 60%;
		margin: 15px auto;
	}

	.projectBanner div.container{
		padding-left: 18%;
	}
}

@media (max-width: 696px){
	.col-xxs-12{
		width: 100%;
	}

	div#mainBlurb{
		text-align: center;
		max-width: 500px;
		float: none;
	}
	div#mainBlurb span#skillsBlurb{
		display: block;
	}
	ul#keyFindings li{
		width: 80%;
	}
}

@media (max-width: 420px){
	body .container{
		padding-right:0;
		padding-left: 0;
		/*padding-right: 5px;*/
		/*padding-left: 5px;*/
	}

	.col-xxxs-12{
		width: 100%;
	}

	img#profileImg{
		margin-bottom: 1em;
	}

	div#introBanner.container{
		margin-bottom: 1em;
	}
	#introBanner h2.projectTitle{
		font-size:2.8em;
	}
	#portfolioContent h3.projHeading{
		font-size: 1.75em;
		margin-left: 6%;
		margin-right: 6%;
	}
	#portfolioContent p{
		max-width: 300px;
	}
	#portfolioContent p#projDescription{
		margin-top:1em;
	}
	#portfolioContent img{
		max-width: 90%;
		margin: auto;
	}
	div#mainBlurb{
		max-width: 300px;
		margin-right: 0;
	}
	p#galleryBlurb{
		max-width: 300px;
		margin: auto;
	}

	.projectBanner div.container{
		padding-left: 12%;
	}

	#characterImages>img{
		margin-top: 1em;
	}

	.projectBanner p{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.button{
		margin-bottom: 30px;
	}
}